<h1>Collaterals</h1>

<div>
  <%= simple_form_for :search, url: search_collaterals_path, method: :get do |form| %>
    <table>
      <thead>
      <tr>
        <th>Stack</th>
        <th>Domain</th>
        <th>Language</th>
        <th>Country</th>
        <th>Kind</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <% @tag_filters.each do |item| %>
          <td>
            <%= form.input item[0].to_s, required: false, as: :check_boxes, collection: item[1].map { |i| [i.name.humanize, i.id] }, include_blank: false, label: '', checked: @selected_tags[item[0].to_s] %>
          </td>
        <% end %>
        <td>
          <%= form.input "kinds", required: false, as: :check_boxes, collection: @kinds.to_a.map { |kind| [kind[0].humanize, kind[1]] }, label: '', checked: @selected_kinds %>
        </td>
        <td>
          <%= form.submit "Search" %>
        </td>
      </tr>

      </tbody>
    </table>
  <% end %>


  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Link</th>
      <th>Kind</th>
      <th>Tags</th>
    </tr>
    </thead>

    <tbody>
    <% @collaterals.each do |collateral| %>
      <tr>
        <td><%= collateral.name %></td>
        <td><%= collateral.link %></td>
        <td><%= collateral.kind.humanize %></td>
        <td>
          <% collateral.tags.each do |tag| %>
            <span class="badge bg-info text-dark"><%= tag.category.downcase %>:<%= tag.name.humanize %></span>
          <% end %>
        </td>
        <td><%= link_to 'Show', collateral %></td>
        <td><%= link_to 'Edit', edit_collateral_path(collateral) %></td>
        <td><%= link_to 'Destroy', collateral, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>