<p id="notice"><%= notice %></p>

<h1>Collaterals</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Link</th>
      <th>Kind</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @collaterals.each do |collateral| %>
      <tr>
        <td><%= collateral.name %></td>
        <td><%= collateral.link %></td>
        <td><%= collateral.kind %></td>
        <td><%= link_to 'Show', collateral %></td>
        <td><%= link_to 'Edit', edit_collateral_path(collateral) %></td>
        <td><%= link_to 'Destroy', collateral, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Collateral', new_collateral_path %>
