<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @collateral.name %>
</p>

<p>
  <strong>Link:</strong>
  <%= @collateral.link %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @collateral.kind %>
</p>

<%= link_to 'Tags', collateral_tags_path(@collateral) %>
<%= link_to 'Edit', edit_collateral_path(@collateral) %> |
<%= link_to 'Back', collaterals_path %>
