<p>
  <strong>Name:</strong>
  <%= @lead.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lead.description %>
</p>

<%= link_to 'Tags', lead_tags_path(@lead) %> |
<%= link_to 'Edit', edit_lead_path(@lead) %> |
<%= link_to 'Back', leads_path %>
